
header{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    height: 5rem;
    width: 100%;
    background-color: rgb(33, 36, 41);
}
header > ul{
    text-align: center;
}
.list{
    display: inline;
}
.nav-item > a{
    color: #3333cc;
}
.main{
    margin-top: 15px;
    height: 250px;
    width: 100%;
    background-color: rgb(204, 211, 204);
}
h2{
    
}